AUTH_DB_PASSWORD=replace_with_auth_db_password
PRODUCTS_DB_PASSWORD=replace_with_products_db_password
CART_DB_PASSWORD=replace_with_cart_db_password
PRICE_DB_PASSWORD=replace_with_price_db_password

RABBITMQ_USERNAME=replace_with_rabbitmq_username
RABBITMQ_PASSWORD=replace_with_rabbitmq_password

ADMIN_USERNAME=replace_with_admin_username
ADMIN_USER_PASSWORD=replace_with_a_long_random_key

JWT_KEY=replace_with_a_long_random_key